body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-white dark:bg-black transition duration-100 dark:text-gray-100;

  overscroll-behavior-y: none;
}


.span-lines.animate .span-line .span-line-inner {
  position: relative;
  display: block;
}

.span-lines .span-line {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  padding-bottom: 8px;
}

.container {
  @apply mx-auto px-4 max-w-5xl;
}

#burger {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 25px;
  line-height: 25px;
  vertical-align: middle;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

#burger span {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  top: 0;
  @apply bg-black transition duration-200 dark:bg-white group-hover:lg:bg-white dark:lg:group-hover:bg-black;
}

#burger span.burger-dark {
  @apply bg-white transition duration-200 dark:bg-black group-hover:lg:bg-white dark:lg:group-hover:bg-black;
}

#burger:before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  left: -20px;
  bottom: -20px;
}

#menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
  transform: translate(calc(100% + 6vw), 0) rotate(0.001deg);
  transition: transform 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: transform;
}

#menu.active {
  transform: translate(0, 0) rotate(0.001deg);
}

#menu .nav-row a {
  transform: translate(15vw, 0) rotate(0.001deg);
  transition: transform 0.8s cubic-bezier(0.7, 0, 0.2, 1), border 0.2s;
  will-change: transform;
  @apply leading-tight;
}

#menu.active .nav-row a {
  transform: translate(0, 0) rotate(0.001deg);
}

#menu .nav-row a:nth-child(2) {
  transition-delay: 0.03s;
}

#menu .nav-row a:nth-child(3) {
  transition-delay: 0.06s;
}

#menu .nav-row a:nth-child(4) {
  transition-delay: 0.09s;
}

.bt #menu div a:nth-child(2) {
  transition-delay: 0.03s;
}
