---
import RoundButton from '../components/RoundButton.astro';
import Layout from '../layouts/Layout.astro';
---

<script src="/src/scripts/index.ts" />

<Layout>
	<main>
		<div class="px-6 container">
      <h1 class="text-4xl">About me</h1>

    </div>
		

	</main>

</Layout>