---
import RoundButton from '../components/RoundButton.astro';
import Layout from '../layouts/Layout.astro';
---

<script src="/src/scripts/index.ts" />

<Layout>
	<main data-barba="container" data-barba-namespace="about">
		<div class="px-6 container">
			<h1 class="text-4xl">About me</h1>

		</div>
		<div class="container mt-8">
			<h2 class="text-2xl"> Hi! I'm Jeeho.</h2>
			<p>I design websites and develop software.</p>
			<p>I love Minimalistic design and stuff.</p>

		</div>


	</main>

</Layout>