---
import RoundButton from '../components/RoundButton.astro';
import Layout from '../layouts/Layout.astro';
---

<script src="/src/scripts/index.ts" />

<Layout>
	<main>
		<div class="hero-gradient px-4 sm:px-10 h-[90vh] flex flex-col justify-between">
			<div class="float-right flex  w-full max-w-7xl rounded-sm">
				<div class="mt-12 sm:mt-32   pb-8 lg:px-20">
					<h1 data-scroll data-scroll-speed="1" data-scroll-delay="0.05" id="hero-text"
						class="text-6xl leading-tight dark:text-white sm:text-7xl xl:text-8xl">Full-stack
						Developer
						& Designer based in Seoul.</h1>
					<h2 class="mt-6 flex font-mono text-">
						Portfolio of Jeeho Ahn{` `}
						<span
							class="my-auto ml-4 inline-block h-0 w-20  transition duration-200 border-b-2 border-black dark:border-gray-100"></span>
					</h2>
				</div>
			</div>
		</div>

		<div id="details" class="relative text-3xl md:text-5xl z-20 mx-auto mt-20 w-full container fade-in-section">

			<div class="fade-in" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">
				I'm a developer skilled in Go, React, and more.
			</div>
			<div class="fade-in" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">
				I'm also a designer who
				specializes in web design
			</div>
			<div class="fade-in mb-40" data-scroll data-scroll-speed="1" data-scroll-delay="0.05">and UI/UX.</div>

			<hr class="p-4 seperator" />
			<RoundButton class="absolute bottom-0 right-16 sm:right-32" href="/about">Learn more </RoundButton>
		</div>

		<div class=" container mt-16 fade-in-section">
			<h4 class="fade-in text-4xl leading-tight lg:text-6xl">Work</h4>

			<div class="mt-4 max-w-6xl text-lg leading-none lg:text-xl fade-in">
				{` `}
				<p>
					I currently volunteer at {` `}
					<b>
						<a href="https://fosshost.org">Fosshost</a>
						{` `}
					</b>
					, a non-profit provider of cloud services for the open source community.
				</p>
				<p class="mt-4">
					I&apos;m a Core Developer at{` `}
					<b> <a href="https://vignetteapp.org">Vignette</a>, </b>
					{` `} where I help out with <span class="underline">design</span>, <br />
					<span class="underline">web development</span>, and {` `} <span class="underline">managing
						infrastructure</span>.{` `}
				</p>
				{` `}
				<p class="mt-8">
					I also am a community moderator for the project, which means I help moderate the Vignette {` `}
					<b>
						{` `}
						<a href="https://go.vignetteapp.org/discord">Discord Server</a>
					</b>
					{` `}.
				</p>
			</div>
		</div>


		<div id="skills-container" class="sticky fade-in-section z-0 my-32 py-16 text-white bg-[#141517] dark:bg-black "
			data-cursor="-opaque">
			<h2 class="text-5xl fade-in container leading-tight lg:text-6xl">Skills</h2>

			<div data-scroll data-scroll-direction="horizontal" data-scroll-speed="6"
				class="scrub-section relative mt-8 mb-4 fade-in w-full leading-none">
				<div class="wrapper inline-block whitespace-nowrap text-5xl sm:text-6xl md:text-9xl">React • TailwindCSS •
					Next.js • TypeScript • JavaScript • Astro • Linux • Git
					•{` `}</div>
			</div>

			<!-- <hr class="my-4 mx-auto h-1 max-w-6xl border-none bg-black px-4 font-medium dark:bg-white lg:px-8" /> -->
			<div data-scroll data-scroll-direction="horizontal" data-scroll-speed="-6"
				class="scrub-section-inverse relative fade-in w-full leading-none">
				<div class="wrapper inline-block whitespace-nowrap text-5xl sm:text-6xl md:text-9xl">
					Go • Rust • Python • Docker • Ansible • gRPC • GraphQL • Kubernetes •
					{` `}</div>
			</div>
			<div class="grid fade-in sm:grid-cols-2 container mt-16">
				<ul class="flex flex-col gap-1 text-xl">
					<li>Go</li>
					<li>TypeScript</li>
					<li>JavaScript</li>
					<li>Next.js</li>
					<li>TailiwndCSS</li>
					<li>React</li>
				</ul>
				<ul class="flex flex-col gap-1 text-xl">
					<li>Rust</li>
					<li>Python</li>
					<li>
						Linux{` `}
						<span class="text-gray-500 line-through"> (I use arch btw) </span>
					</li>
					<li>Docker</li>
					<li>GraphQL</li>
					<li>Kubernetes</li>
					<li>...more</li>
				</ul>
			</div>
		</div>


		<div class="container mb-16">

		</div>


		<div id="designs" class="mt-16 fade-in-section lg:mt-32 px-6 w-full">
			<h2 class="container px-4 text-5xl lg:text-6xl fade-in">Designs &darr;</h2>

			<div class="mt-8 w-full  fade-in overflow-x-scroll leading-none sm:overflow-hidden px-4">
				<div data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" class="flex gap-4 sm:justify-center">
					{[ `https://owo.whats-th.is/APDfJDz.png`, `https://owo.whats-th.is/5jnX5Vc.png`,
					`https://owo.whats-th.is/8ULhpLf.png`, ].map((v, i) => (
					<div class="relative aspect-video h-40 sm:h-64">
						<img src={v} alt="" width={800} height={600} loading="lazy" data-cursor-text="See more"
							class="h-40 sm:h-64 rounded border object-cover object-top transition duration-200 dark:brightness-90 dark:hover:brightness-100" />
					</div>
					))}
				</div>
			</div>
			<div class="mt-4 w-full overflow-scroll fade-in leading-none sm:overflow-hidden px-4">
				<div data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal" class="flex gap-4 sm:justify-center">
					{[ `https://owo.whats-th.is/4c2J1EH.png`, `https://owo.whats-th.is/8X4rRPb.png`,
					`https://owo.whats-th.is/DSsroGt.png`, ].map((v, i) => (
					<div class="relative aspect-video h-40 sm:h-64">
						<img src={v} alt="" loading="lazy" width={800} height={600} data-cursor-text="See more"
							class="h-40 sm:h-64 rounded border object-cover object-top transition duration-200 dark:brightness-90 dark:hover:brightness-100 lg:h-64" />
					</div>
					))}
				</div>
			</div>
		</div>

	</main>

</Layout>