---    
import { FaTwitter, FaGithub, FaLinkedin } from 'react-icons/fa/index.esm';
---

<footer id="footer"
    class="dark relative z-0 mx-auto h-screen bg-[#141517] overflow-hidden border-t transition duration-100"
    aria-labelledby="footerHeading" data-cursor="-footer">
    <div data-scroll data-scroll-speed="-4" id="footer-content" class="h-screen ">
        {` `}
        <h2 id="footerHeading" class="sr-only">
            Footer
        </h2>
        <div class="mx-auto max-w-7xl py-32 px-6 dark:text-white sm:px-8 xl:px-16">
            <h2 class="text-6xl sm:text-8xl lg:text-9xl">Get in touch</h2>
            <div class="grid grid-cols-3">
                <div class="col-span-2">
                    <div class="text-3xl">
                        <a href="mailto:io@fosshost.org"> &rarr; io@fosshost.org</a>
                    </div>
                    <h4 class="mt-2 mb-1 text-4xl">Discord</h4>
                    io#8106
                </div>
            </div>
        </div>
        <div
            class="absolute bottom-8 left-0 right-0 mx-auto w-full max-w-7xl px-6 py-8 no-underline sm:px-16 md:flex md:items-center md:justify-between">
            <div class="flex space-x-6 md:order-2">
                <a href="https://twitter.com/IoJcde" class="text-gray-600 dark:text-gray-400">
                    <FaTwitter size="24" />
                </a>

                <a href="https://github.com/jcdea" class="text-gray-600 dark:text-gray-400">
                    <span class="sr-only">GitHub</span>
                    <FaGithub size="24" />
                </a>

                <a href="https://www.linkedin.com/in/jcdea/" class="text-gray-600 dark:text-gray-400">
                    <span class="sr-only">LinkedIn</span>
                    <FaLinkedin size="24" />
                </a>
            </div>
            <p class="mt-8 text-lg text-gray-600 dark:text-gray-400 md:order-1 md:mt-0">
                &copy; {new Date().getFullYear()} Jeeho Ahn. All rights reserved.
            </p>
        </div>
    </div>
</footer>