<a href="#content"
    class="text-md absolute -top-8 ml-3 -translate-y-12 transform rounded-md border border-gray-300  px-3 py-1 transition-transform duration-100 focus:translate-y-12 lg:ml-8">
    Skip to content
</a>
<nav class=" my-0 flex w-full items-center justify-center py-4 px-4 transition duration-100 lg:px-14">
    <div class="flex w-full  items-center justify-between">
        <div id="name" class="relative text-xl text-black dark:text-gray-100 sm:text-2xl lg:text-4xl"
            data-cursor="-opaque">
            <a href="/">Jeeho Ahn</a>
        </div>
        <div class="text-primary flex items-center justify-evenly space-x-3 pr-12 dark:text-gray-100 lg:space-x-4">

            <!-- <Toggle /> -->
            <span class="hidden sm:block">Menu</span>
        </div>
    </div>
</nav>
<style>
    #name a:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: -10px;
        left: -10px;
        bottom: 0px;
        z-index: 0
    }

    a {
        cursor: pointer;
        line-height: 2.5em;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border .2s;
    }

    a:hover {
        border-bottom: 1px solid #000000;
    }

    .dark a:hover {
        border-bottom: 1px solid #FFFFFF;
    }

    .no-underline a:hover {
        border-bottom: 1px solid transparent;
    }

    a:hover.no-underline {
        border-bottom: 1px solid transparent;
    }
</style>