---
export interface Props {
  prevUrl: string;
  nextUrl: string;
}

const { prevUrl, nextUrl } = Astro.props;
---

<div class="flex gap-8 text-sm sm:text-xl mt-16 justify-center items-center">
  <a class="uppercase" href={prevUrl || '#' } aria-label="Previous Page">Prev</a>
  /
  <a class="uppercase" href={nextUrl || '#' } aria-label="Next Page">Next</a>
</div>